<app-auth-navbar></app-auth-navbar>
<main class="profile-page">
  <section class="relative block h-500-px">
    <div
      class="absolute top-0 w-full h-full bg-center bg-cover"
      style="
        background-image: url('https://rog.asus.com/media/1514453928598.jpg');
      "
    >
      <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-50 bg-black"
      ></span>
    </div>
    <div
      class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
      style="transform: translateZ(0)"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
      ￼
      
        <polygon
          class="text-blueGray-200 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>
  </section>
  <section class="relative py-16 bg-blueGray-200">
    <div class="container mx-auto px-4">
      <div
        class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-64"
      >
        <div class="px-6">
          <div class="flex flex-wrap justify-center">
            <div class="w-full lg:w-3/12 px-4 lg:order-2 flex justify-center">
              <div class="relative">
                <img
                  alt="..."
                  src="https://i.pinimg.com/564x/c1/38/89/c13889545133cc67964f18b57472bc99.jpg"
                  class="shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-150-px"
                />
              </div>
            </div>
            <div
              class="w-full lg:w-4/12 px-4 lg:order-3 lg:text-right lg:self-center"
            >
              
            </div>
            
            <div class="w-full lg:w-4/12 px-4 lg:order-1">
              <div class="flex justify-center py-4 lg:pt-4 pt-8">
                <div class="mr-4 p-3 text-center">
                  <a href="https://github.com">
                    <i class="fab fa-github fa-2x"></i>

                  </a>
                </div>
                <div class="mr-4 p-3 text-center">
                  <a href="https://www.instagram.com/_shatwik_tiwari">
                    <i class="fab fa-instagram fa-2x"></i>

                  </a>
                </div>
                <div class="mr-4 p-3 text-center">
                  <a href="https://www.facebook.com">
                    <i class="fab fa-facebook fa-2x"></i>

                  </a>
                </div>
                
              </div>
              ￼
              
            </div>
          </div>
          <div class="text-center mt-12">
            <h3
              class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2"
            >
            Shatwik Tiwari
          </h3>
          <div
            class="text-sm leading-normal mt-0 mb-2 text-blueGray-400 font-bold uppercase"
          >
            <i
              class="fas fa-map-marker-alt mr-2 text-lg text-blueGray-400"
            ></i>
            Varanasi,U.P,India
          </div>
          <div class="mb-2 text-blueGray-600 mt-10">
            <i class="fas fa-briefcase mr-2 text-lg text-blueGray-400"></i>
            Employee - Company  Dixit Saurabh
          </div>
          <div class="mb-2 text-blueGray-600">
            <i class="fas fa-university mr-2 text-lg text-blueGray-400"></i>
            Simple and Creative
          </div>
        </div>
        <div class="mt-10 py-10 border-t border-blueGray-200 text-center">
          <div class="flex flex-wrap justify-center">
            <div class="w-full lg:w-9/12 px-4">
              <p class="mb-4 text-lg leading-relaxed text-blueGray-700">
                im here to help uhhh 
              </p>
              <a href="javascript:void(0)" class="font-normal text-red-600">
                   
                </a>
                  <div>
                    Give us a chance to develope  something for you that help to your's business bring online. 
                    which open world for your business and provide a professional business platform for you.

                  </div>>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
