<app-index-navbar></app-index-navbar>
<section class="header relative pt-16 items-center flex h-screen max-h-860-px">
  <div class="container mx-auto items-center flex flex-wrap">
    <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
      <div class="pt-32 sm:pt-0">
        <h2 class="font-semibold text-4xl text-blueGray-600">
          I'm Dixit Saurabh.
        </h2>
        <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
          I am good in programming languages JavaScript & C and very much
          interested in React, Node Js, HTML, CSS, and NoSQL.
          
          It features multiple HTML elements and it comes with dynamic
          components for ReactJS and Angular.
        </p>
        <div class="mt-12">
          <a
            href="https://github.com/dixit100"
            target="_blank"
            class="
              github-star
              sm:ml-1
              text-white
              font-bold
              px-6
              py-4
              rounded
              outline-none
              focus:outline-none
              mr-1
              mb-1
              bg-blueGray-700
              active:bg-blueGray-600
              uppercase
              text-sm
              shadow
              hover:shadow-lg
              ease-linear
              transition-all
              duration-150
            "
          >
            <i class="fab fa-github text-lg mr-2"></i>
            <span>Github</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <img
    class="
      absolute
      top-0
      b-auto
      right-0
      pt-16
      sm:w-6/12
      -mt-48
      sm:mt-0
      w-10/12
      max-h-860-px
    "
    src="assets/img/pattern_angular.png"
    alt="..."
  />
</section>

<section class="mt-48 md:mt-40 pb-40 relative bg-blueGray-100">
  <div
    class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20"
    style="transform: translateZ(0)"
  >
    <svg
      class="absolute bottom-0 overflow-hidden"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
      version="1.1"
      viewBox="0 0 2560 100"
      x="0"
      y="0"
    >
      <polygon
        class="text-blueGray-100 fill-current"
        points="2560 0 2560 100 0 100"
      ></polygon>
    </svg>
  </div>
  <div class="container mx-auto">
    <div class="flex flex-wrap items-center">
      <div
        class="w-10/12 md:w-6/12 lg:w-4/12 px-12 md:px-4 mr-auto ml-auto -mt-32"
      >
        <div
          class="
            relative
            flex flex-col
            min-w-0
            break-words
            bg-white
            w-full
            mb-6
            shadow-lg
            rounded-lg
            bg-red-600
          "
        ></div>
      </div>
    </div>
  </div>

  <div class="justify-center text-center flex flex-wrap mt-24">
    <div class="w-full md:w-6/12 px-12 md:px-4">
      <h2 class="font-semibold text-4xl">Welcome</h2>
      <p class="text-lg leading-relaxed mt-4 mb-4 text-blueGray-900">
        “Your skills and talents will be a great addition to our project. We are
        so excited to have you with us and look forward to working with you!”
      </p>
    </div>
  </div>
</section>

<section class="block relative z-1 bg-blueGray-600">
  <div class="container mx-auto">
    <div class="justify-center flex flex-wrap">
      <div class="w-full lg:w-12/12 px-6 -mt-24">
        <div class="flex flex-wrap">
          
          

          <div class="w-full lg:w-6/12 px-6">
            <h5 class="text-xl font-semibold pb-6 text-center">CEO</h5>
            <a [routerLink]="['/profile']">
              <div
                class="
                  hover:-mt-4
                  relative
                  flex flex-col
                  min-w-0
                  break-words
                  bg-white
                  w-full
                  mb-6
                  shadow-lg
                  rounded-lg
                  ease-linear
                  transition-all
                  duration-150
                "
              >
                <img
                  alt="..."
                  class="align-middle border-none max-w-full h-auto rounded-lg"
                  src="https://img.favpng.com/9/7/19/sticker-guy-fawkes-mask-decal-telegram-v-for-vendetta-png-favpng-5gpjib27haR88b1Y4YfwM6Fnm.jpg"
                />
              </div>
            </a>
          </div>
          <div class="w-full lg:w-6/12 px-6">
            <h5 class="text-xl font-semibold pb-6 text-center">Profile1</h5>
            <a [routerLink]="['/profile1']">
              <div
                class="
                  hover:-mt-4
                  relative
                  flex flex-col
                  min-w-0
                  break-words
                  bg-white
                  w-full
                  mb-6
                  shadow-lg
                  rounded-lg
                  ease-linear
                  transition-all
                  duration-150
                "
              >
                <img
                  alt="..."
                  class="align-middle border-none max-w-full h-auto rounded-lg"
                  src="https://static0.cbrimages.com/wordpress/wp-content/uploads/2020/09/Dragon-Ball-Goku-Naive-Silly.jpg"
                />
              </div>
            </a>
          </div>
          <div class="w-full lg:w-6/12 px-6">
            <h5 class="text-xl font-semibold pb-6 text-center">Profile2</h5>
            <a [routerLink]="['/profile2']">
              <div
                class="
                  hover:-mt-4
                  relative
                  flex flex-col
                  min-w-0
                  break-words
                  bg-white
                  w-full
                  mb-6
                  shadow-lg
                  rounded-lg
                  ease-linear
                  transition-all
                  duration-150
                "
              >
                <img
                  alt="..."
                  class="align-middle border-none max-w-full h-auto rounded-lg"
                  src="https://i.pinimg.com/564x/c1/38/89/c13889545133cc67964f18b57472bc99.jpg"
                  />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-16 bg-blueGray-200 relative pt-32">
  <div
    class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20"
    style="transform: translateZ(0)"
  >
    <svg
      class="absolute bottom-0 overflow-hidden"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
      version="1.1"
      viewBox="0 0 2560 100"
      x="0"
      y="0"
    >
      <polygon
        class="text-blueGray-200 fill-current"
        points="2560 0 2560 100 0 100"
      ></polygon>
    </svg>
  </div>

  <div class="container mx-auto">
    <div
      class="
        flex flex-wrap
        justify-center
        bg-white
        shadow-xl
        rounded-lg
        -mt-64
        py-16
        px-12
        relative
        z-10
      "
    >
      <div class="w-full text-center lg:w-8/12">
        <p class="text-4xl text-center">
          <span role="img" aria-label="love"> 😍 </span>
        </p>
        <h3 class="font-semibold text-3xl">Do you love this Page?</h3>
        <p class="text-blueGray-500 text-lg leading-relaxed mt-4 mb-4">
          Cause if you do, it can be yours now. Hit the buttons below to
          Navigate to get the project !
        </p>
        <div class="sm:block flex flex-col mt-10">
          <a
            href="https://github.com"
            target="_blank"
            class="
              github-star
              sm:ml-1
              text-white
              font-bold
              px-6
              py-4
              rounded
              outline-none
              focus:outline-none
              mr-1
              mb-1
              bg-blueGray-700
              active:bg-blueGray-600
              uppercase
              text-sm
              shadow
              hover:shadow-lg
              ease-linear
              transition-all
              duration-150
            "
          >
            <i class="fab fa-github text-lg mr-2"></i>
            <span>Github</span>
          </a>
        </div>
        <div class="text-center mt-16"></div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
